<h1>acerca de la aplicación</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, voluptates architecto quasi ut possimus. Voluptatem laboriosam impedit itaque quis a unde hic fugit cupiditate repellendus, neque cumque maiores sequi laudantium!</p>